* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.25rem;
}

header,
footer {
    height: 100px;
}

header { background-color: rgb(15, 229, 241) }
footer { background-color: rgb(248, 182, 193) }

.layout {
    display: flex;
    height: 400px;
}
.aside {
    width: 40%;
    background-color: rgba(163, 6, 6, 0.788);
}
.main-content {
    flex: 1;
}
.content-1 {
    height: 100px;
    background-color: rgba(134, 130, 130, 0.922);
}
.content-2-3 {
    display: flex;
    height: 300px;
    flex:1;
}
.content-2 {
    background-color: red;
    flex: 1;
}
.content-3 {
    background-color: seagreen;
    flex: 1;
}