body {
    font-family: Arial, sans-serif;
    max-width: 660px;
    margin: 3rem auto;
}
h1 {
    text-align: center;
    color: #333;
}
.accordion {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
}
.accordion-item {
    border-bottom: 1px solid #ddd;
    background-color: #e0e0e0;
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-title {
    background-color: #f5f5f5;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.accordion-title:hover {
    background-color: #e0e0e0;
}
.accordion-desc {
    max-height: 0px;
    opacity: 0;
    padding: 0px 1rem;
    background-color: #fff;
    transition: max-height 0.3s ease, opacity 0.3s ease,padding 0.3s ease
}
.accordion-desc.active {
    max-height: 500px;
    padding: 1rem;
    opacity: 1;
    color: black;
    background-color: #fff;
}