*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
    background-color: #ddd;
}
body {
    color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "aside content1 content1"
    "aside content2 content3"
    "aside content2 content3"
    "footer footer footer";
}
header {
    grid-area: header;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(15, 229, 241);
    height: 200px;
}
aside{
    grid-area: aside;
    height: 400px;
    background-color: rgba(163, 6, 6, 0.788);
}
.content-1 {
    grid-area: content1;
    background-color: rgba(134, 130, 130, 0.922);
}
.content-2{
    grid-area: content2;
    background-color: red;
}
.content-3 {
    grid-area: content3;
    background-color: seagreen;
}
footer {
    grid-area: footer;
    background-color: rgb(248, 182, 193);
    height: 200px;
}

